.faq{
    position: relative;
    padding: 30px 0;
    background-image: url("../../public/faqbg.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}

.faq_text{
    text-align: center;
}

.faq_text h1{
    font-size: 50px;
    margin: 15px 0;
}

.faq_text h3{
    font-size: 30px;
}

.faq_text p{
    color: #706F7B;
    font-size: 20px;
}


.faq_item{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* FAQ ITEM */
.accordian{
    background: white;
    width: 900px;
    padding: 0 40px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
}

.desc{
    color: #706F7B;
    font-size: 20px;
    padding: 5px 15px 20px 15px;
}


@media (max-width:920px){
    .accordian{
        width: 700px;
        padding: 0 20px;
    }
}

@media (max-width:468px){
    .faq{
        padding: 30px 10px;
    }
    .faq_text h1{
        font-size: 40px;
        margin: 10px 0;
    }
    .faq_text p{
        font-size: 18px;
    }
    .accordian{
        width: 380px;
    }
    .title{
        font-size: 20px;
        height: 80px;
    }
}